# Nix result files
/result

# Haskell .gitignore
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# We want to ignore this one cabal file to test that packages can build with
# just a package.yaml file.
my-example-haskell-lib/my-example-haskell-lib.cabal
